{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  {% set markup %}{% spaceless %}
    {% if site_logo %}
      {% if site.logo_svg %}
        {{site.logo_svg|raw}}
      {% else %}
        <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
      {% endif %}
    {% endif %}

    {% if site_name %}
      {{site_name}}
    {% endif %}
  {% endspaceless %}{% endset %}

  <a href="{{path('<front>')}}" rel="home">{{ markup }}</a>

  {{ site_slogan }}
{% endblock %}
